<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
    <div class="container">
      <hr />
      <h2>Relatórios</h2>
  
      <hr />
      <div class="row g-2">
        <div class="col-3">
          <div class="card text-center">
             <div class="dropdown">
      <button class="btn dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Investidor
      </button>
      <ul class="dropdown-menu">
        <li >
          <a class="dropdown-item"  href="/admin/relatorios">TODOS</a>
        </li>
        <% investidores.forEach(investidor => { %>
      <li >
        <a class="dropdown-item"  href="/relatorio/<%= investidor.id %>"><%= investidor.name %></a>
      </li>
       <% }) %>
      </ul>
      </div>
      
          </div>
         </div>
    </div>
<hr/>
<div  class="table-responsive-xxl">
<div  class="table1 text-center">
    <h2>Cálculo de Retorno de Investimento</h2>
    <table id="tab" data-type="table-menu"  class="table table-hover table-bordered text-center">
      <thead >   
      <tr id="table-header">
        <th>Nº de Animais Vendidos</th>
        <th>Média Ponderada</th>
        <th>Valor da Venda</th>
        <th>Capital Investido</th>
        <th>% Inv x Venda</th>
        <th>Lucro/Inv</th>
      </tr>
    </thead>
    <tbody id="demo">
     
        <tr class="pesquisar" >
        <td><%= quantidade %></td>
        <td><%= unitario %></td>
        <td><%= amountV %></td>
        <td><%= CapitalInvestido %></td>
        <td><%= InvVenda %>%</td>
        <td><%= Lucro %></td>
      </tr>
    </tbody>
  </table>
</div>
<hr/>
<div  class="table2 text-center">
    <h2>  Distribuição Contribuintes</h2>
    <table id="tab" data-type="table-menu"  class="table table-hover table-bordered text-center">
      <thead >
          <tr>
            <th>Nome</th>
            <th>Lucro/Inv</th>
            <th>Percentual %</th>
          </tr>
        </thead>
          <tbody id="demo">
          <tr class="pesquisar" >
            <td>Fazenda</td>
            <td><%= LucroF %></td>
            <td><%= percentualF %>%</td>
          </tr>
          <tr class="pesquisar" >
            <td>Investidor</td>
            <td><%= LucroF %></td>
            <td><%= percentualF %>%</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
      </div>
      </body>


<%- include ("../../partials/footer.ejs") %>


<!-- script dashboard   -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

   const data = {
  labels: [
    'Red',
    'Blue',
    'Yellow'
  ],
  datasets: [{
    label: 'My First Dataset',
    data: [300, 50, 100],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 4
  }]
};


   const config = {
  type: 'doughnut',
  data: data,
};

 </script>


<script>
    const myChart = new Chart(document.getElementById("myChart"), config);
  </script>