<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>


<style>

  @media (max-width: 480px) {
  .th, .td {
    font-size: 12px; /* Diminui ainda mais o tamanho da fonte para telas pequenas */
  }

  .btn {
    font-size: 14px; /* Diminui ainda mais o tamanho da fonte para telas pequenas */
    white-space: nowrap; /* Evita quebra de linha */
    padding: 5px 10px; /* Ajuste o padding conforme necessário */
    margin: 0; /* Ajuste o margin para encaixar melhor */
  }
  .col-2{
    width: 100%;
  }

  .th {
    font-size: 12px; /* Diminui o tamanho da fonte do cabeçalho */
  }

}
</style>

<body>
  <div class="container">
    <hr />
    <h2>Histórico da Compra</h2>
    <hr />
    <div class="row g-2">
        <div class="col-2">
            <div class="card">
              <a class="btn btn-success form-control" href="/admin/compra">Todos</a>
            </div>
          </div>
      <div class="col-3">
        <div class="card">
          <!--Barra de Pesquisa-->
          <form class="form-search">
            <input class="form-control" type="text" name="search" id="search" placeholder="Pesquisar..." />
          </form>
        </div>
      </div>
    </div>
    <hr />
    <div class="table-responsive-xxl">
      <table id="tab" data-type="table-menu" class="table table-hover table-bordered table-sm text-center">
        <thead>
          <tr id="table-header">
            <th>Nome</th>
            <th>Data Compra</th>
            <th>Status</th>
            <th>Brinco</th>
            <th>Valor</th>
            <th>Peso</th>
            <th>Dolar</th>
            <th>Compra - Dolar</th>
          </tr>
        </thead>
        <tbody id="demo">
          <% historicos.forEach(historico => { %>
          <tr class="pesquisar" href="/<%= historico.id %>">
            <td><%= historico.investidore.name %></td>
            <td id="formatData"><%= historico.data %></td>
            <td><%= historico.status %></td>
            <td><%= historico.brinco %></td>
            <td><%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(historico.valor) %></td>
            <td><%= new Intl.NumberFormat('pt-BR', { style: 'unit', unit: 'kilogram' }).format(historico.peso) %></td>
            <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format( historico.dolar) %></td>
            <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(historico.amount) %></td>
           
          </tr>
          <% }) %>
        </tbody>
      </table>
     
    </div>
  </div>
  <br>
</body>


<%- include ("../../partials/footer.ejs") %>





<script>
    //delete Script
    function confirmarDelecao(event, form) {
      event.preventDefault();
      var decision = confirm("Você quer deletar esta Compra?");
      if (decision) {
        form.submit();
      }
    }
  
    ////////////////////////////
    // search script
    const inputSearch = document.querySelector("#search");
    const tableMenu = document.querySelector("[data-type='table-menu']");
  
    const trs = Array.from(tableMenu.querySelectorAll("tbody tr"));
    const trsPesquisar = Array.from(
      tableMenu.querySelectorAll("tr.pesquisar")
    );
  
    inputSearch.addEventListener("input", function () {
      const str = this.value;
      if (str) {
        filterData(str);
      } else {
        showAllItems();
      }
    });
  
    function showAllItems() {
      trs.forEach((tr) => tr.classList.remove("hide"));
    }
  
    function filterData(str) {
      showAllItems();
      trsPesquisar.forEach((trPesquisar) => {
        let found = false;
  
        for (let i = 0; i < trs.length; i++) {
          let tr = trs[i];
          if (tr.textContent.toLowerCase().includes(str.toLowerCase())) {
            found = true;
            tr.classList.remove("hide");
          } else {
            tr.classList.add("hide");
          }
        }
      });
    }
    /////////////////////////////////////////////////
  </script>
  
  
  
  <script>
    //filtragem de dados, por peridodo que eles foram adicionados no BD
    //formatar numeros em valores decimais (.toLocaleFixed(2))
    Number.prototype.toLocaleFixed = function (n) {
      return this.toLocaleString(undefined, {
        minimumFractionDigits: n,
        maximumFractionDigits: n
      });
    };
  
    valor.addEventListener('td', event => {
  
      var unitario = 10
  
      document.getElementById('valor').value = Number(valor).toLocaleFixed(2);
    })
  </script>