<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
    <div class="container">
      <hr />
      
      <h2>Projeção de Venda</h2>
      <hr />
      <a class="btn btn-primary" href="/admin/compra"
      >Compra</a>
    <hr />
    <table id="tab" data-type="table-menu" class="table table-bordered">
      <thead>
        <tr id="table-header">
          <th>Nome</th>
          <th>Data Compra</th>
          <th>Data Venda</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Valor Compra</th>
          <th>Dolar</th>
          <th>Compra - Dolar</th>
        </tr>
      </thead>
      <tbody id="demo">
        <% compras.forEach(compra => { %>
        <tr>
          <td><%= compra.investidore.name %></td>
          <td><%= compra.data %></td>
          <td id="dataVenda"> </td>
          <td><%= compra.quantidade %></td>
          <td><input type="text" class="" id="inputText"></td>
          <td><%= compra.total %></td>
          <td><%= compra.dolar %></td>
          <td><%= compra.amount %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
      </div>
      </body>

<%- include ("../../partials/footer.ejs") %>

<script>


  const day = 
  <% compras.forEach(compra => { %>
     '<%= compra.data %>'
  <% }) %>;



  Date.prototype.addDays = function(days) {
  var dat = new Date(day);
  dat.setDate(dat.getDate() + days);
  return dat;
}

var dat = new Date();
var data = (dat.addDays(913))

        dia  = data.getDate().toString(),
        diaF = (dia.length == 1) ? '0'+dia : dia,
        mes  = (data.getMonth()+1).toString(), //+1 pois no getMonth Janeiro começa com zero.
        mesF = (mes.length == 1) ? '0'+mes : mes,
        anoF = data.getFullYear();
var op = diaF+"/"+mesF+"/"+anoF;

console.log(day)
document.getElementById("dataVenda").innerHTML = op

</script>