<%- include ("../../../partials/header.ejs") %>
<%- include("../../../partials/navbar.ejs") %>

<body>
    <div class="container">
      <hr />
      <h2>Conta Corrente</h2>
    <div class="row g-2">
      <div class="col-2">
        <div class="card text-center">
          <a class="btn btn-primary form-control" href="/admin/contaCorrente/new">Adicionar</a>
        </div>
      </div>
      <div class="col-2">
        <div class="card text-center">
           <div class="dropdown">
    <button class="btn dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Investidor
    </button>
    <ul class="dropdown-menu">
      <li >
        <a class="dropdown-item"  href="/admin/contaCorrente">TODOS</a>
      </li>
     <% investidores.forEach(investidor => { %>
    <li >
            <a class="dropdown-item"  href="/contaCorrente/<%= investidor.id %>"><%= investidor.name %></a>
        </li>
     <% }) %>
    </ul>
    </div>
    
        </div>
                </div>
                <div class="col-3">
                  <div class="card">
                    <div class="dropdown">
                      <button class="btn dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Periodo
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <form action="/contaCorrente" method="get">
                            <div class="mb-3">
                              <label for="start" class="form-label">Data de início:</label>
                              <input type="date" class="form-control" id="start" name="start">
                            </div>
                            <div class="mb-3">
                              <label for="end" class="form-label">Data de fim:</label>
                              <input type="date" class="form-control" id="end" name="end">
                            </div>
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              <div class="col-2">
        <div class="card">
          <!--Barra de Pesquisa-->
          <form class="form-search">
            <input
              class="form-control"
              type="text"
              name="search"
              id="search"
              placeholder="Pesquisar..."
            />
          </form>
        </div>
                </div>
                
    </div>
   <div id="investidorSelecionadoDiv" class="fixed-investidor text-center"> <%= investidorNome %></div>

      <hr />
      <div class="row g-2">
       <hr />
       <div  class="table-responsive-xxl">
        <div  class="table1 text-center">
          <table class="table table-bordered text-center">
            <thead>
              <tr >
                <th>Capital Investido em Compra</th>
                <th>Capital Retorno de Venda</th>
                <th>Valor Disponível para Compra</th>
              </tr>
            </thead>
            <tbody >
                <tr >
                  <td><%= amountCompra %></td>
                  <td>
                    <%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(totalVendaSum) %>
    </td>
    <td>
      <%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(Total) %>
    </td>
               
              </tr>
            </tbody>
          </table>
            </div>
    <table id="tab" data-type="table-menu" class="table table-bordered text-center">
      <thead>
        <tr id="table-header">
          <th>Nome</th>
          <th>Data</th>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="demo">
                 <% if (contaCorrente.length === 0) { %>
        <tr>
          <td colspan="6" class="nenhuma">Nenhum registro</td>
        </tr>
      <% } else { %>
        <% contaCorrente.forEach(contaCorrente=> { %>
        <tr  class="pesquisar" href="">
          <td><%= contaCorrente.investidore.name %></td>
          <td><%= contaCorrente.data %></td>
          <td><%= contaCorrente.category %></td>
          <td><%= new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(contaCorrente.valor) %></td>
          <td><%= contaCorrente.obs%></td>
           <td>
            <a
              href="/admin/contaCorrente/edit/<%= contaCorrente.id %>"
              class="btn btn-warning btn-sm"
              >Editar</a
            >
            <form
              method="POST"
              action="/contaCorrente/delete"
              style="display: inline;"
              onsubmit="confirmarDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= contaCorrente.id %>" />
              <input type="hidden" name="code" value="<%= contaCorrente.code %>" /> <!-- Novo campo para o code -->
              <button class="btn btn-danger btn-sm">Deletar</button>
            </form>
          </td>
        </tr>
          <% }) %>
      <% } %>
      </tbody>
    </table>

<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <% if (currentPage === 1) { %>disabled<% } %>">
          <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
            <span aria-hidden="true">Anterior</span>
          </a>
        </li>
        <% for (let i = startPage; i <= endPage; i++) { %>
          <li class="page-item <% if (i === currentPage) { %>active<% } %>">
            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
          </li>
        <% } %>
        <li class="page-item <% if (currentPage === totalPages) { %>disabled<% } %>">
          <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
            <span aria-hidden="true">Próximo</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

  <br>
    </div>

      </div>
</div>
<br>
      </body>


<%- include ("../../../partials/footer.ejs") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script>
  // Função para capturar o nome do investidor selecionado
  const dropdownItems = document.querySelectorAll('.dropdown-item');
  let nomeInvestidor = "<%= investidorNome %>"; // Valor inicial vindo do servidor

  // Atualiza o nome do investidor no div ao clicar no item
  dropdownItems.forEach(item => {
    item.addEventListener('click', function () {
      nomeInvestidor = this.textContent.trim(); // Captura o nome do investidor
      document.getElementById('investidorSelecionadoDiv').textContent = `Parceria: ${nomeInvestidor}`; // Exibe o nome selecionado no div fixo
    });
  });

  // Geração do PDF
  document.getElementById('btnCompartilhar').addEventListener('click', function () {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF();

    // Definindo a fonte e tamanho padrão
    doc.setFont('Helvetica', 'normal');
    doc.setFontSize(14); // Tamanho da fonte padrão aumentado

    // Adicionando um título com uma fonte maior e em negrito
    doc.setFontSize(22); // Tamanho da fonte para o título
    doc.setFont('Helvetica', 'bold');
    doc.text(`Relatório ${nomeInvestidor}`, 105, 20, null, null, 'center');

    // Adicionando uma tabela separada para as informações financeiras
    let startY = 40; // Ajuste a posição inicial Y
    const lineHeight = 8; // Reduza o espaçamento entre linhas
    const sectionPadding = 4; // Menos espaço entre seções
    const sectionLineWidth = 0.5; // Largura da linha divisória

    // Seções do relatório
    const sections = [
      {
        title: 'Estoque',
        data: [
          { label: 'Saldo', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= Total %>') },
          { label: 'Animais', value: '<%= estoque %>' }
        ]
      },
      {
        title: 'Entradas',
        data: [
           { label: 'Entradas', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= totalSumEntrada %>') },
          { label: 'Compras (Un)', value: '<%= compradosTotal %>' },
          { label: 'Compras (R$)', value: '<%= amountCompra %>' }
        ]
      },
      {
        title: 'Saídas',
        data: [
          { label: 'Vendas (Un)', value: '<%= vendidos %>' },
          { label: 'Vendas (R$) Bruta', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= totalVendaSum %>') },
          { label: 'Retirada', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= totalSumRetirada %>') },
          { label: 'Mortes', value: '<%= morte %>' },
        ]
      },
      {
        title: 'Médias',
        data: [
          { label: 'Média das compras', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= MediaCompraPonderada %>') },
          { label: 'Média das vendas', value: new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format('<%= mediaVenda %>') }
          ]
      }
    ];

    sections.forEach(section => {
      doc.setFontSize(18); // Tamanho da fonte do título da seção
      doc.setFont('Helvetica', 'bold');

      // Centralizando o título
      const pageWidth = doc.internal.pageSize.getWidth();
      const titleWidth = doc.getTextWidth(section.title);
      const titlePosition = (pageWidth - titleWidth) / 2;

      doc.text(section.title, titlePosition, startY);
      startY += lineHeight;

      doc.setFontSize(14); // Tamanho da fonte para os dados
      doc.setFont('Helvetica', 'normal');

      if (section.title === 'Estoque') {
        // Alinhando "Saldo" à esquerda e "Animais" à direita na mesma linha
        const saldoLabel = section.data[0].label;
        const saldoValue = section.data[0].value;
        const animaisLabel = section.data[1].label;
        const animaisValue = section.data[1].value;

        // Definir o valor de Saldo e Animais na mesma linha, com os valores logo abaixo das labels
        doc.text(saldoLabel, 10, startY); // "Saldo" à esquerda
        doc.text(saldoValue, 10, startY + lineHeight); // Valor de "Saldo" abaixo do label

        // Calcular a posição de "Animais" e seu valor, alinhando à direita
        const textWidth = doc.getTextWidth(animaisLabel);
        const xPos = pageWidth - textWidth - 10;

        doc.text(animaisLabel, xPos, startY); // "Animais" alinhado à direita
        doc.text(animaisValue, xPos, startY + lineHeight); // Valor de "Animais" abaixo do label

        startY += lineHeight * 2; // Incrementa a posição vertical para a próxima linha
      } else {
        section.data.forEach(item => {
          doc.text(`${item.label}:`, 10, startY);
          doc.text(`${item.value}`, 100, startY); // Alinha os outros valores à direita
          startY += lineHeight;
        });
      }

      // Adiciona uma linha horizontal separadora
      doc.setLineWidth(sectionLineWidth);
      doc.line(10, startY + sectionPadding, 200, startY + sectionPadding);

      // Adiciona um espaço entre as seções
      startY += sectionPadding + lineHeight;
    });

    // Adicionando bordas à página
    doc.setDrawColor(0); // Define a cor da borda (preta)
    doc.setLineWidth(1);
    doc.rect(5, 5, 200, 287); // Desenha um retângulo ao redor da página

    // Obtendo a data atual
    const hoje = new Date();
    const dia = String(hoje.getDate()).padStart(2, '0');
    const mes = String(hoje.getMonth() + 1).padStart(2, '0'); // Janeiro é 0!
    const ano = hoje.getFullYear();
    const dataFormatada = `${dia}-${mes}-${ano}`;

    // Salvando o PDF com o nome personalizado
    const nomeArquivo = `Relatório ${nomeInvestidor} ${dataFormatada}.pdf`;
    doc.save(nomeArquivo);
  });
</script>




<script>
  //delete Script
  function confirmarDelecao(event, form) {
    event.preventDefault();
    var decision = confirm("Você quer deletar esta Compra?");
    if (decision) {
      form.submit();
    }
  }

  ////////////////////////////
  // search script
  const inputSearch = document.querySelector("#search");
  const tableMenu = document.querySelector("[data-type='table-menu']");

  const trs = Array.from(tableMenu.querySelectorAll("tbody tr"));
  const trsPesquisar = Array.from(
    tableMenu.querySelectorAll("tr.pesquisar")
  );

  inputSearch.addEventListener("input", function () {
    const str = this.value;
    if (str) {
      filterData(str);
    } else {
      showAllItems();
    }
  });

  function showAllItems() {
    trs.forEach((tr) => tr.classList.remove("hide"));
  }

  function filterData(str) {
    showAllItems();
    trsPesquisar.forEach((trPesquisar) => {
      let found = false;

      for (let i = 0; i < trs.length; i++) {
        let tr = trs[i];
        if (tr.textContent.toLowerCase().includes(str.toLowerCase())) {
          found = true;
          tr.classList.remove("hide");
        } else {
          tr.classList.add("hide");
        }
      }
    });
  }
  /////////////////////////////////////////////////
</script>


