<%- include ("../../../partials/header.ejs") %> <%- include ("../../../partials/navbar.ejs") %>

    <body>
      <br />
      <div class="container">
        <br />
        <div class="card">
          <div class="card-header">
            <h2>Adicionar</h2>
          </div>
          <div class="card-body">
            <form method="POST" action="/contaCorrente/save">
              <div class="input--with-addon currency-input">
                <label>Nome </label>
                <div class="input__container text-input">
                  <select name="investidor" class="form-control">
                    <% investidores.forEach((investidor)=> { %>
                      <option value="<%= investidor.id %>">
                        <%= investidor.name %>
                      </option>
                      <% }) %>
                  </select>
                </div>
              </div>
              <br />
              <div class="input--with-addon currency-input">
                <label>Data </label>
                <div class="input__container numeral-input">
                  <input type="date" name="data" required class="input form-control form-control-danger" /><!---->
                </div>
                <!----><!---->
              </div>
              <br>
              <div class="input--with-addon currency-input">
                <label for="category">Selecione </label>
                <div class="input__container text-input">
                  <select class="form-control" name="category" id="category"
                    onchange="javascript:associaInput();">
                    <option value=""></option>
                    <option value="RETIRADA">RETIRADA</option>
                    <option value="ENTRADA">ENTRADA</option>
                  </select>
                </div>
              </div>
              <br />
              <div class="input--with-addon currency-input">
                <label for="valor">Valor</label>
                <div class="input__container text-input">
                  <input type="text" name="valor" id="valor" value="" required
                    class="input form-control form-control-danger" /><!---->
                </div>
                <!----><!---->
              </div>
              <br />
              <div class="input--with-addon currency-input">
                <label>Descrição</label>
                <textarea class="form-control" name="obs"></textarea>
              </div>
              <br />
               <div class="row">
                    <div class="col"></div>
                <div class="col-3">
    <button type="submit" class="btn btn-primary form-control" name="action" value="continue">Salvar e Continuar</button>
  </div>
        <div class="col-3">
    <button type="submit" class="btn btn-success form-control" name="action" value="exit">Salvar e Sair</button>
  </div>
</div>
            </form>
          </div>
        </div>
        <br />
      </div>
    </body>


    <%- include ("../../../partials/footer.ejs") %>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
      <script src="https://plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js"
        type="text/javascript"></script>



      <script>
        jQuery(function () {

          jQuery("#valor").maskMoney({
            thousands: '.',
            decimal: ','
          })

        });
      </script>

      <script>
        function associaInput() {
          var variavel;
          //pega o value do select
          var e = document.getElementById("category");
          var itemSelecionado = e.options[e.selectedIndex].value;
          //injeta no value do input
          if (itemSelecionado == "RETIRADA") {
            variavel = "-";
          } else if (itemSelecionado == "ENTRADA") {
            variavel = "";
          }
          document.getElementById('valor').value = variavel;
        }

      </script>

      
<script>
  // Captura parâmetros da URL
  const params = new URLSearchParams(window.location.search);

  // Verifica se existe uma mensagem na URL
  if (params.has('message')) {
    const message = params.get('message');
    
    // Cria um elemento para exibir a mensagem
    const messageElement = document.createElement('div');
    messageElement.className = 'alert alert-success';
    messageElement.innerText = message;

    // Adiciona a mensagem no topo da página ou em um local específico
    document.querySelector('.card-body').prepend(messageElement);

    // Remove a mensagem após 5 segundos
    setTimeout(() => {
      messageElement.remove();
    }, 2000); // 5000 milissegundos = 5 segundos
  }
</script>