<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <br />  
    <div class="container"> 
      <br/>
      <div class="card">
        <div class="card-header">
      <h2>Atualizar Investidor</h2>
    </div>

      <div class="card-body">
        <form method="POST" action="/investidor/update">
            <div class="input--with-addon currency-input">
          <label>Nome</label>
           <input type="hidden" value="<%= investidor.id %>" name="id" />
          <input
          class="form-control"
          type="text"
          name="name"
            value="<%= investidor.name %>"
            required/>
          </div>
          <br />

          <div class="input--with-addon currency-input">
          <label>Telefone</label>
          <input
          class="input form-control form-control-danger"
            type="texto"
            name="phone"
            id="phone"
            maxlength="15"
            placeholder="+55"
            value="<%= investidor.phone %>"
            required
          />
          </div><br />

          <div class="input--with-addon currency-input">
            <label>E-mail</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="email"
                id="email"
                value="<%= investidor.email %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>CPF</label>
            <div class="input__container numeral-input">
              <input
              required
              maxlength="14"
                type="text"
                name="cpf"
                id="cpf"
                value="<%= investidor.cpf %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>Letras do Brinco</label>
            <div class="input__container numeral-input">
              <input
                type="text"
                name="letras"
                id="letras"
                value="<%= investidor.letras %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>Cep</label>
            <div class="input__container number-input">
              <input

                type="text"
                autocomplete="off"
                name="cep"
                id="cep"
                maxlength="9"
                placeholder=""
                value="<%= investidor.cep %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
        <br />
          <div class="input--with-addon currency-input">
            <label>Logradouro</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="logradouro"
                value="<%= investidor.logradouro %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>Número</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="number"
                id="number"
                value="<%= investidor.number %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>Complemento</label>
            <textarea
              class="form-control"
              name="obs"
              value="<%- investidor.obs %>"
              required
            ><%- investidor.obs %></textarea> 
  </div>
            <br />
          <div class="input--with-addon currency-input">
            <label>Cidade</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="cidade"
                value="<%= investidor.cidade %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="input--with-addon currency-input">
            <label>UF</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="uf"
                value="<%= investidor.uf %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />
          <div class="row">
            <div class="col"></div>
            <div class="col-auto">   <button class="btn btn-success">Atualizar</button></div>
        </div>
        </form>
      </div>
      </div>
      <br />  
      </div>
      </body>




<%- include ("../../partials/footer.ejs") %>



<!--script format cpf-->
<script>
  const input = document.querySelector('#cpf');

  input.addEventListener('keypress', () => {
    let inputlength = input.value.length;

    if (inputlength === 3 || inputlength === 7) {
      input.value += '.'
    } else if(inputlength === 11){
      input.value += '-'
    }
  })

</script>
<!--script format phone-->
<script>
  const phone = document.querySelector('#phone');

  phone.addEventListener('keypress', () => {
    let inputlength = phone.value.length;

    if (inputlength === 0) {
      phone.value += '('
    } else if(inputlength === 3){
      phone.value += ')'
    }
    if (inputlength === 3) {
      phone.value += ' '
    }else if(inputlength === 10){
      phone.value += '-'
    }
  })

</script>
<!--script format CEP-->
<script>
  const cep = document.querySelector('#cep');

  cep.addEventListener('keypress', () => {
    let inputlength = cep.value.length;

    if (inputlength === 6) {
      cep.value += '-'
    }
  })

</script>