<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <br/>
    <div class="container">
      <br/>
        <div class="card">
            <div class="card-header">
              <h2>Novo Compra</h2>
            </div>
            <div class="card-body">
              <form method="POST" action="/compra/save">
                            <div class="input--with-addon currency-input">
                              <label>Numeração</label>
                              <div class="input__container text-input">
                                <input type="number" name="id" id="id" required class="input form-control form-control-danger" /><!---->
                              </div>
                              <!----><!---->
                            </div>
                            <br />
                  <div class="input--with-addon currency-input">
                <label>Nome </label>
                <div class="input__container text-input">
                  <select name="investidor" class="form-control">
                    <% investidores.forEach((investidor) => { %>
                      <option value="<%= investidor.id %>"><%= investidor.name %></option>
                      <% }) %> 
                  </select>
                  </div>
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                  <label>Data Compra</label>
                  <div class="input__container numeral-input">
                    <input
                      type="date"
                      name="data"
                      required
                      class="input form-control form-control-danger"
                    /><!---->
                  </div>
                  <!----><!---->
                </div>
                <br>
                <div class="input--with-addon currency-input">
                    <label>Quantidade</label>
                    <div class="input__container text-input">
                      <input
                        type="text"
                        name="quantidade"      
                        id="quantidade"
                        required     
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Valor Unitário</label>
                    <div class="input__container text-input">
                      <input
                        type="text"
                        name="unitario"
                        id="unitario"
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Valor Compra</label>
                    <div class="input__container number-input">
                      <input
                        type="text"
                        name="total"
                        id="total"
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                    <label>Dolar</label>
                    <div class="input__container text-input">
                      <input
                        type="text"
                        name="dolar"
                        id="dolar"
                        value="<%= cotacaoDolar %>"
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                  <br>
                  <div class="input--with-addon currency-input">
                    <label>Compra - Dolar</label>
                    <div class="input__container text-input">
                      <input
                        type="text"
                        name="amount"
                        id="amount"
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                <br />
                <div class="input--with-addon currency-input">
                  <label>Descrição</label>
                  <div class="input__container text-input">
                    <textarea type="text" name="obs" id="obs" required class="input form-control form-control-danger">
                    </textarea>
                  </div>
                  <!----><!---->
                </div>
                <br />
                <div class="row">
                  
                  <div class="col"></div>
                  <div class="col-3"> 
                    <button class="btn btn-success form-control">Salvar</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <br />  
      </div>
      </body>


<%- include ("../../partials/footer.ejs") %>

<!-- script pegar valores (quantidade, unitario) multiplicar e apresentar no input total.
Pega valor total da compra divide pelo dolar diario
-->
<script>

  //filtragem de dados, por peridodo que eles foram adicionados no BD
//formatar numeros em valores decimais (.toLocaleFixed(2))
Number.prototype.toLocaleFixed = function (n) {
return this.toLocaleString(undefined, {
  minimumFractionDigits: n,
  maximumFractionDigits: n
});
};

quantidade.addEventListener('input', event => {
var quantidadeValue = (event.target.value)

unitario.addEventListener('input', event => {
var unitarioValue = (event.target.value)

var unitarioFloat = unitarioValue.replace(".", "").replace(",", ".")

var totalValue = (Number(quantidadeValue) * Number(unitarioFloat))
document.getElementById('total').value = Number(totalValue).toLocaleFixed(2);

var dolar = <%= cotacao %>;

var totalDolarValue = (Number(totalValue) / Number(dolar))
document.getElementById('amount').value = Number(totalDolarValue).toLocaleFixed(2);
})
})
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="https://plentz.github.io/jquery-maskmoney/javascripts/jquery.maskMoney.min.js" type="text/javascript"></script>

<script>
  jQuery(function() {
      
      jQuery("#valor").maskMoney({
    thousands:'.', 
    decimal:','
  })
  
  });
  </script>


