<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <br />
    <div class="container">
      <br />
      <div class="card">
        <div class="card-header">
      <h2>Editar Morte</h2>
    </div>
      <div class="card-body">
        <form method="POST" action="/morte/update">
            <div class="input--with-addon currency-input">
          <label>Nome</label>
           <input type="hidden" value="<%= morte.id %>" name="id" />
          <select name="investidor" class="form-control">
                    <% investidores.forEach((investidor) => { %>
                      <% if (investidor.id == morte.investidoreId) { %>
                        <option value="<%= investidor.id %>" selected><%= investidor.name %></option>
                        <% } else { %>
                          <option value="<%= investidor.id %>"><%= investidor.name %></option>
                          <% } %> 
                       <% }) %> 
                  </select>
                  </div>
          <br />

          <div class="input--with-addon currency-input">
          <label>Data Morte</label>
          <input
            class="form-control"
            type="date"
            name="data"
            value="<%= morte.data %>"
            required
          />
          </div><br />

          <div class="input--with-addon currency-input">
            <label>Quantidade</label>
            <div class="input__container numeral-input">
              <input
                required="required"
                type="text"
                name="quantidade"
                value="<%= morte.quantidade %>"
                class="input form-control form-control-danger"
              /><!---->
            </div>
            <!----><!---->
          </div>
          <br />       
          <div class="row">
            <div class="col"></div>
            <div class="col-3"> 
              <button class="btn btn-success form-control">Salvar</button>
              </div>
            </div>
        </form>
      </div>

      </div>
      <br />  
      </div>
      </body>


<%- include ("../../partials/footer.ejs") %>