<%- include ("../../partials/header.ejs") %> <%- include
("../../partials/navbar.ejs") %>

<body>
  <br/>
    <div class="container">
      <br/>
        <div class="card">
            <div class="card-header">
              <h2>Mortes</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/morte/save">
                    <div class="input--with-addon currency-input">
                  <label>Nome </label>
                  <div class="input__container text-input">
                    <select name="investidor" class="form-control">
                      <% investidores.forEach((investidor) => { %>
                        <option value="<%= investidor.id %>"><%= investidor.name %></option>
                        <% }) %> 
                    </select>
                    </div>
                    </div>
                  <br />
                  <div class="input--with-addon currency-input">
                    <label>Data Morte</label>
                    <div class="input__container numeral-input">
                      <input
                        type="date"
                        name="data"
                        required
                        class="input form-control form-control-danger"
                      /><!---->
                    </div>
                    <!----><!---->
                  </div>
                  <br>
                  <div class="input--with-addon currency-input">
                      <label>Quantidade</label>
                      <div class="input__container text-input">
                        <input
                          type="text"
                          name="quantidade"      
                          required     
                          class="input form-control form-control-danger"
                        /><!---->
                      </div>
                      <!----><!---->
                    </div>
                  <br />
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-3"> 
                      <button class="btn btn-success form-control">Salvar</button>
                      </div>
                    </div>
                </form>
              </div>
          </div>
          <br />  
      </div>



      </body>


<%- include ("../../partials/footer.ejs") %>